@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&family=Poppins&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;;
}
section{
    position:relative;
    width:100%;
    height: 100vh;
    display:flex;
    padding-left: 220px;
    padding-top: 50px;
    padding-bottom: 50px;
    background-image: url(Images/trial7.jpg);
    background-size: contain;
    background-repeat:round;
}
.imgbx{
    position: relative;
    width:50%;
    height:100%;
    background-color: #fff;
}
.imgbx:before{
    content: "";
    position: absolute;
    top:0;
    left:0;
    width:80%;
    height:100%;
    background: linear-gradient(225deg,#03a8f4f6,#e91e62f6);
    z-index:1;
    mix-blend-mode: screen;
}
.imgbx img{
    position:absolute;
    top:0;
    left:0;
    width:80%;
    height: 100%;
    object-fit: cover;
}
.contentbx{
    display:flex;
    justify-content: start;
    align-items: center;
    width:30%;
    height:100%;
    background: #fff;
}
.formbox{
    width:30%;
}
.register-heading,.login-heading{
    display: inline-block;
    color:#607d8b;
    font-weight:600;
    font-size:1.5em;
    text-transform: uppercase;
    margin-bottom:20px;
    border-bottom:4px solid #45b8ff;
    letter-spacing: 1px;
}
.inputbx{
    font-size:16px;
    margin-bottom: 5px;
    color:#607db8;
    font-weight: 400;
    letter-spacing: 1px;
}
.inputbx input{
    width:100%;
    padding:10px 20px;
    border:1px solid #607db8;
    background: transparent;
    border-radius: 30px ;
}
input[type="submit"]{
    background: #0f9ef7ed ;
    color:#fff;
    outline:none;
    border:none;
    font-weight:500;
    cursor:pointer;
    font-size: 16px;
    margin-top: 8px;
}
input[type="submit"]:hover{
    background: #2a99de;
}
.remember,.forgot a{
    margin: 8px 0;
    color:#607d8b;
    font-size: 14px;
    font-weight: 400;
}
.goto-login{
    border-bottom:1px solid #607d8b ;
    width: fit-content;
    text-align: center;
}
.inputbx p{
    color:#607d8b;
    text-align: center;
}
.sign-up{
    display: block;
    color:#fff;
    text-decoration: none;
    width:100%;
    background:hsl(332, 95%, 51%);
    border-radius:30px ;
    padding:10px 20px;
    text-align: center;
}
.sign-up:hover{
    background:hsl(335, 85%, 54%);
}
#register{
    margin: 20px 90px 20px 0px;
    display: none;
}
.log-in-account{
    color:#607d8b ;
    text-align: center;
    margin:30px 0 10px;
    font-weight: 500;
    font-size: 17px;
}
.sign-in-account{
    color:#607d8b ;
    text-align: center;
    margin:8px 0 10px;
    font-weight: 500;
    font-size: 17px;
}
.diff-accounts{
    display:flex;
    justify-content: center;
    align-items: center;
}
.diff-accounts a{
    width:25px;
    height: 25px;
    border-radius: 13px;
    margin:10px;
    box-shadow: -0.2rem 0.5rem 1rem rgb(0 0 0 / 15%);
    color:#d6249f;
    text-align: center;
    
}
.diff-accounts a:hover i{
    transform:rotate(360deg);
    transition: all 0.2s;
}
.diff-accounts #Gg:hover{
    background-color:#fff;
    color:rgb(6, 117, 191);
}
.diff-accounts #fb:hover{
    background-color: #395694;
    color:white;
}
.diff-accounts #ig:hover {
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
    color:white;
}
.diff-accounts #tr:hover {
    background-color: #00a6e5;
    color: white;
}
.diff-accounts #in:hover {
    background-color:#2866ab;
    color:white;
}

