@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&family=Poppins&display=swap');
*{
    margin:0%;
    padding:0;
    box-sizing: border-box;
    font-family:'Poppins', sans-serif; 
}
section{
    position:relative;
    width:100%;
    height: 100vh;
    display:flex;
    padding-left: 220px;
    padding-top: 50px;
    padding-bottom: 50px;
    background-image: url(Images/trial.jpg );
    background-size: contain;
    background-repeat:round;
}
section .imgbx{
    position: relative;
    width:50%;
    height:100%;
    background-color: #fff;
}
section .imgbx:before{
    content: "";
    position: absolute;
    top:0;
    left:0;
    width:80%;
    height:100%;
    background: linear-gradient(225deg,#03a8f4f6,#e91e62f6);
    z-index:1;
    mix-blend-mode: screen;
}
section .imgbx img{
    position:absolute;
    top:0;
    left:0;
    width:80%;
    height: 100%;
    object-fit: cover;
}
.contentbx{
    display:flex;
    justify-content: start;
    align-items: center;
    width:30%;
    height:100%;
    background: #fff;
}
.formbox{
    width:30%;
}
 section h2{
    display: inline-block;
    color:#607d8b;
    font-weight:600;
    font-size:1.5em;
    text-transform: uppercase;
    margin-bottom:20px;
    border-bottom:4px solid #45b8ff;
    letter-spacing: 1px;
}
.inputbx{
    font-size:16px;
    margin-bottom: 5px;
    color:#607db8;
    font-weight: 400;
    letter-spacing: 1px;
}
.inputbx input{
    width:100%;
    padding:10px 20px;
    border:1px solid #607db8;
    background: transparent;
    border-radius: 30px ;
}
input[type="submit"]{
    background: #0f9ef7ed ;
    color:#fff;
    outline:none;
    border:none;
    font-weight:500;
    cursor:pointer;
    font-size: 16px;
    margin-top: 8px;
}
input[type="submit"]:hover{
    background: #1a95e1;
}
.remember,.forgot a{
    margin: 8px 0;
    color:#607d8b;
    font-size: 14px;
    font-weight: 400;
}
.inputbx p{
    color:#607d8b;
    text-align: center;
}
.inputbx p a{
    display: block;
    color:#fff;
    text-decoration: none;
    width:100%;
    background:#f84f96;
    border-radius:30px ;
    padding:10px 20px;
    text-align: center;
}
.inputbx p a:hover{
    background:#ee337e;
}
.heading2{
    color:#607d8b ;
    text-align: center;
    margin:70px 0 10px;
    font-weight: 500;
    font-size: 17px;
}
.social{
    display:flex;
    justify-content: center;
    align-items: center;
}
.social a{
    width:25px;
    height: 25px;
    border-radius: 13px;
    margin:10px;
    box-shadow: -0.2rem 0.5rem 1rem rgb(0 0 0 / 15%);
    color:#d6249f;
    text-align: center;
    transition: all 0.20ms ease;
    
}
.social a:hover{
    transform: scale(1.5);
}
.social a:hover i{
    transform:rotate(360deg);
    transition: all 0.2s;
}
.social #Gg:hover{
    background-color:#fff;
    color:rgb(6, 117, 191);
}
.social #fb:hover{
    background-color: #395694;
    color:white;
}
.social #ig:hover {
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
    color:white;
}
.social #tr:hover {
    background-color: #00a6e5;
    color: white;
}
.social #in:hover {
    background-color:#2866ab;
    color:white;
}

