section{
    position: relative;
    padding:80px 250px;
    line-height: 1.7;
    font-family: 'Source Sans Pro', sans-serif;
    background-color: hsl(202, 31%, 81%) ;
}
.div-bg{
    background-color: rgba(236, 234, 232, 0.957);
    border:white;
}
img{
    float: left;
    width:300px;
    height:300px;
    margin: 40px 50px 70px 30px ;
    border:16px solid rgba(103, 85, 70, 0.95);
}
h5{
    font-size: 32px;
    font-size: 25px;
    font-weight: 600;
    font-family: 'Inter', sans-serif;
}
h6{
    display: inline;
    font-size: 18px;
    font-weight: 600;
    font-family: 'Inter', sans-serif;
}
.paragrph,.adrs{
    font-size: 17px;
    font-weight: 300;
    margin-left: 10px;
}
.paragrph{
    text-align: justify;
    margin:10px 40px 0px 20px;
}
button{
    padding:4px 30px;
    background:linear-gradient(177deg,#e1743dd1 0%,#bb6015cc 100%);
    border:2px solid rgba(174, 137, 137, 0.671);
    margin:10px 10px 30px 10px;
}
.Button{
    text-decoration: none; 
    color:whitesmoke; 
    font-size: 20px;
}
button:hover{
    background-color: hsla(18, 82%, 30%, 0.963);
}