* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
nav {
    width: 100%;
    height: 80px;
    background-color:hsl(199, 70%, 47%);
    line-height: 75px;
    padding: 0px 70px 0px 180px;
    position: fixed;
    z-index: 1;
}
nav .logo {
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 1.5px;
    font-family: 'Courgette', cursive;
    color: white;
}
nav .logo {
    float: left;
}
nav ul {
    float: right;
}
nav ul li {
    display: inline-block;
    list-style: none;
}
nav ul li a {
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    color: white;
    font-weight: 500;
    font-size: 18px;
    padding: 0px 15px;

}
nav ul li a:hover {
    color:  rgb(2, 22, 32);
    text-shadow: 5px;
}
nav ul li .active {
    color:  rgb(0, 0, 0);
}
.submenu{
    display:none;
}
nav ul li:hover .submenu{
    display:block;
    position:absolute;
    background-color: rgb(35, 169, 231);
    margin-right:15px;
    border:1px solid rgba(255, 251, 251, 0.187);
}
nav ul li:hover .submenu ul{
    display:block;
    margin:10px;
    
}
nav ul li:hover .submenu ul li{
    display:block;
    width:230px;
    padding:10px;
    padding-left:0;
    border-bottom: 1px solid rgba(250, 249, 249, 0.235);
    line-height: 1.8;
    background: transparent;
    text-align: left; 
    font-size: 14px;
    font-weight: bolder;
    color: black;
}
/* nav ul li:hover .submenu-1 ul li a{
    font-size: 16px;
} */
nav ul li:hover .submenu ul li:last-child{
    border-bottom: none;
}
nav ul li:hover .no_2 ul li{
    width:250px;
}
.heading{
    background-color:  hsl(204, 62%, 38%);
    width:100%;
    height:auto;
    text-align: center;
    font-size: 28px;
    font-weight: 500;
    color:white;
    font-family: 'Stoke', serif;
    padding: 100px 0px 20px 0px;
    position: relative;
}
.therapist_titleimg{
    display: flex;
    /* background-color:hsl(197, 76%, 92%); */
}
.therapist_titleimg ul{
    list-style: none;
    float:right;
    height:80px;
    display: flex;
    justify-content: center;
    Width:900px;
    align-items: center;
    position: sticky;
}
.therapist_titleimg ul li{
    margin:40px 30px;
}
.therapist_titleimg ul li a{
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    color: rgb(209, 30, 110);
    font-weight: 600;
    font-size: 16px;
    padding: 10px 20px;
    border:1px solid rgb(209, 30, 110) ;
    border-radius: 8px;
    box-shadow:2px 1px 6px 0px rgba(107, 106, 106, 0.24);
}
.therapist_titleimg ul li a:hover{
    background-color: rgb(234, 66, 141);
    color: #fff;
}
.heading_therapist{
   position: absolute;
   left:560px;
   top:250px;
   text-align: center;
   font-family: 'Inter', sans-serif;
   font-weight:500 ;
   font-size: 23px;
   color:hsl(210, 41%, 31%);
}
.heading_therapist_p{
    position: absolute;
   left:350px;
   top:290px;
   right:350px;
   text-align: center;
   font-family: 'Inter', sans-serif;
   color:#607d8b ;
}
.therapist_titleimg .titleimg2{
    position: absolute;
    right:0;
    width:20%;
    height:28%;
}

section{
   padding:20px 0;
   background-color: antiquewhite;
   margin:0 70px;
}
.counselor_img {
   display:grid;
   grid-template-columns: repeat(auto-fill,minmax(280px,1fr));
   justify-items: center;
}
.image{
    margin:20px;
    padding: 30px;
    box-shadow:1rem 0.8rem 1rem rgba(0, 0, 0, 0.21);
    background-color: white;
    border:1px solid rgb(255, 255, 255);
    border-radius: 5px;
    transition: all .2s ease;
}
.image img{
    width:200px;
    height:200px;
    border-radius: 100px;
}
.counselor_img h3{
    text-align: center;
    padding:3px;
}
.image:hover{
    box-shadow:6px 5px 15px 1px rgba(57, 56, 56, 0.24), -4px 3px 15px 1px #3d3b3b56;
    transform: scale(1.1);
}
.counselor_img .profile{
    display: block;
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    margin: 10px;
    padding:8px;
    border-radius: 30px;
    border:1.5px solid #2866ab;
    background-color: hsl(200, 33%, 98%);
    text-align: center;
    color: #2866ab;
    text-decoration: none;
    font-weight:400;
}
.counselor_img .profile:hover{
    background-color: #2866ab;
    color:#fff;
    box-shadow:0px 2px 3px 0px rgb(31 45 50 / 42%);
}
Footer{
    font-size: 14px;
    font-weight: 500;
    color: white;
    padding:20px;
    /* background-color: rgb(37, 162, 219); */
    background: linear-gradient(177deg,#6bb9ea 0%,#2a8abe 100%);
    text-align: center;
    line-height: 2.2;
    font-family: 'Poppins', sans-serif;
}
Footer a{
    display: block;
}
.social{
    display:flex;
    justify-content: center;
    align-items: center;
}
.social a{
    width:30px;
    height: 30px;
    border-radius: 15px;
    background-color: hwb(0 100% 0% / 0.932);
    margin:10px;
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%);
    color: rgb(60, 119, 229);
    transition: all .4s ease;
}
.social a:hover{
    transform: scale(1.5);
}
.social #fb:hover{
    background-color: #395694;
    color:white;
}
.social #ig:hover {
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
    color:white;
}
.social #tr:hover {
    background-color: #00a6e5;
    color: white;
}
.social #in:hover {
    background-color:#2866ab;
    color:white;
}
